{% extends 'layout.html' %}
{% block body %}

  <div id='app'>
    <label>Find a location:</label>
    <input id='new-location' type='text' placeholder='Enter an address'>
    <div id='map'></div>
    <div id='name-location'> </div>

    <div id='instructions'>
      Click a location to zoom map, double-click to edit.
    </div>

    <ul id='location-list'></ul>
  </div>

  <!-- Templates -->

  <!-- Name a location template -->
  <script type='text/template' id='name-template'>
    <div class='edit'>
      <input type='text' tabindex=100 placeholder='Name e.g. Work'>
      <button class='cancel' tabindex=102>cancel</button>
      <button class='save' tabindex=101>favorite</button>
    </div>
  </script>

  <!-- Location template (view and edit)-->
  <script type='text/template' id='item-template'>
    <div class='view'>
      <label>
        <% if (name.length) { %>
          <span class='name'><%- name %></span>
        <% } %>
        <%- address %>
      </label>
      <a class='destroy'></a>
    </div>

    <div class="edit">
      <label>name</label>
      <input class='name' type='text' value="<%- name %>" /><br />

      <label>address</label>
      <input class='address' type='text' value="<%- address %>" /><br />

      <label>latitude</label>
      <input class='lat' type='number' value="<%- lat %>" /><br />

      <button class='save'>save</button>
      <button class='cancel'>cancel</button>
      <label>longitude</label>
      <input class='lng' type='number' value="<%- lng %>" />
    </div>
  </script>

{% endblock %}

{% block scripts %}
  <!-- These should really be uglified and minified -->
  <script src='//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js'></script>
  <script src='//maps.googleapis.com/maps/api/js?libraries=places&key={{ maps_api_key }}&sensor=false'></script>
  <script src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='js/vendor/underscore.js') }}"></script>
  <script src="{{ url_for('static', filename='js/vendor/backbone.js') }}"></script>
  <script src="{{ url_for('static', filename='js/models.location.js') }}"></script>
  <script src="{{ url_for('static', filename='js/collections.locations.js') }}"></script>
  <script src="{{ url_for('static', filename='js/views.location.js') }}"></script>
  <script src="{{ url_for('static', filename='js/views.address.js') }}"></script>
  <script src="{{ url_for('static', filename='js/views.namelocation.js') }}"></script>
  <script src="{{ url_for('static', filename='js/views.map.js') }}"></script>
  <script src="{{ url_for('static', filename='js/views.app.js') }}"></script>
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
