<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel='stylesheet' href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
  <div id='main'>
    <header>
      {% for message in get_flashed_messages() %}
        <div class='flash'><p>{{ message }}</p></div>
      {% endfor %}

      {% if current_user.is_authenticated() %}
        <div id='auth'>
          <p>
            <a href={{ url_for('auth.logout') }}>logout</a>
            <span class='hello'>hello, {{ current_user.username }}</span>
          </p>
        </div>
      {% endif %}

      <h1>Locations</h1>
    </header>
    {% block body %}{% endblock %}
  </div>

  {% block submain %}{% endblock %}

  <div id='credits'>
    Created by <a href='http://zackdever.com/'>zever</a>,
    but heavily borrowed from <a href='http://documentcloud.github.com/backbone/examples/todos/index.html'>todos</a>.
  </div>

  {% block scripts %}{% endblock %}
</body>
</html>
