html, body {
	margin: 0;
	padding: 0;
}

body {
	font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #eeeeee;
	color: #333333;
	width: 520px;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
}

#app label {
  font-weight: 600;
}

#map {
  height: 400px;
  margin: 20px 0;
  border: #bbb 1px solid;
}

#auth {
  font-weight: 600;
}

#auth .hello {
  color: #39c;
}

#auth a {
  float: right;
}

#main {
	background: #fff;
	padding: 20px;
	margin-bottom: 40px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
	-ms-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
	-o-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
	box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-ms-border-radius: 0 0 5px 5px;
	-o-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}

#main h1 {
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	padding: 0 0 10px 0;
}

#name-location { padding-top: 10px; }
#name-location input { width: 280px; }
#name-location button { padding: 14px 12px; margin: 4px; }
#new-location { width: 466px; }
#new-location, #name-location input {
  font-size: 24px;
  font-family: inherit;
  line-height: 1.4em;
  border: 0;
  outline: none;
  padding: 6px;
  border: 1px solid #999999;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -ms-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
}

.edit label {
  width: 25%;
  display: inline-block;
}

.edit input[type="text"], .edit input[type="number"] {
  width: 70%;
	font-size: 14px;
	font-family: inherit;
	line-height: 1.4em;
	border: 0;
	outline: none;
	padding: 6px;
	border: 1px solid #999999;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
	-ms-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
	-o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
	box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
}

.edit input[type="number"] {
  width: 25%;
}

input::-webkit-input-placeholder {
	font-style: italic;
}

#location-list {
	margin: 10px 0;
	padding: 0;
	list-style: none;
}

#location-list li {
	padding: 18px 20px 18px 0;
	position: relative;
	font-size: 24px;
	border-bottom: 1px solid #cccccc;
}

#location-list li:last-child {
	border-bottom: none;
}

#location-list li.done label {
	color: #777777;
	text-decoration: line-through;
}

#location-list .destroy {
	position: absolute;
	right: 5px;
	top: 20px;
  display: none;
	cursor: pointer;
	width: 20px;
	height: 20px;
	background: url(../imgs/destroy.png) no-repeat;
}

#location-list li:hover .destroy {
  	display: block;
}

#location-list .destroy:hover {
    background-position: 0 -20px;
}

#location-list li.editing {
	margin-top: -1px;
	padding: 0;
}

#location-list li.editing:last-child {
	margin-bottom: -1px;
}

#location-list li.editing .edit {
	display: block;
	width: 444px;
	padding: 13px 15px 14px 20px;
	margin: 0;
}

#location-list li.editing .view {
	display: none;
}

#location-list li .view label {
  line-height: 1.5em;
  width: 444px;
  font-size: 18px;
  color: #777;
  display: inline-block;
  word-break: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

#location-list li .view label .name {
  font-size: 24px;
  color: black;
  margin-right: 10px;
}

#location-list li .view label:first-child {
	word-break: break-word;
}

#location-list li .edit {
	display: none;
}

#instructions {
	margin: 10px auto;
	color: #777777;
	text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
	text-align: center;
}

#instructions a {
	color: #336699;
}

#credits {
	margin: 30px auto;
	color: #999;
	text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
	text-align: center;
}

#credits a {
	color: #888;
}

.auth {
  margin: 60px 0;
  text-align: center;
	font-size: 24px;
	font-family: inherit;
	line-height: 1.4em;
  padding-bottom: 20px;
}

.auth label {
  width: 25%;
  display: inline-block;
}

.auth input[type='text'], .auth input[type='password'] {
  width: 60%;
	font-size: 24px;
	font-family: inherit;
	line-height: 1.4em;
	border: 0;
	outline: none;
	padding: 6px;
  margin: 6px;
	border: 1px solid #999999;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
	-ms-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
	-o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
	box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
}

.auth input[type='password'] {
  letter-spacing: 6px;
}

.auth input[type='submit'] {
  padding: 10px 20px;
  margin: 30px;
  clear: both;
}
.auth input[type='submit'], button {
  padding: 10px 20px;
  float: right;
  border: none;
  font-size: 16px;
  color: white;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-ms-border-radius: 5px 5px 5px 5px;
	-o-border-radius: 5px 5px 5px 5px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #06c), color-stop(1,     #39c));
  background: -webkit-linear-gradient(bottom, #06c 0%, #39c 100%);
  background: -moz-linear-gradient(bottom, #06c 0%, #39c 100%);
  background: -o-linear-gradient(bottom, #06c 0%, #39c 100%);
  background: -ms-linear-gradient(bottom, #06c 0%, #39c 100%);
  background: linear-gradient(bottom, #06c 0%, #39c 100%);
  font-weight: 600;
}
.auth h4 {
  padding-left: 8px;
  padding-top: 18px;
  float: left;
  margin-left: 20px;
  font-size: 16px;
}

.flash {
  display: inline;
}
.flash p {
	text-align: center;
  background: #7fddff;
  padding: 10px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-ms-border-radius: 5px 5px 5px 5px;
	-o-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
